<!DOCTYPE html>
<html>
  <head>
    <title>Blog3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> 
    <%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<div id="sidebar">
  		<div id="logo">
  			<%= link_to root_path do %>
          <%= image_tag"icon.png", width: '40px' %>
  			<% end %>
  		</div>

  	<ul>
  		<li class="category">Website</li>
  		<li><%= link_to "Blog", root_path %></li>
  		<li><%= link_to "About", about_path %></li>
  	</ul>

  	<ul>
  		<li class="category">Social</li>
      <li><a href="http://facebook.com/xsylviayeoh">Facebook</a>
  		<li><a href="http://instagram.com/sylviasparkle">Instagram</a>
      <li><a href="https://github.com/sylviayeoh/blog3">Github</a>
      </li>
  	</ul>


  	</div>

    <div id="main_content">
      <div id="header">
      <% if current_page?(root_path) %>
        <p> All Posts</p>
        <% elsif current_page?(about_path) %>
        <p> About </p>
        <% else %>
          <%= link_to "Back to all posts", root_path %>
        <% end %>

        <div class="buttons">
        <% if user_signed_in? %>
          <button class="button"><%= link_to "New Post", new_post_path %></button>
          <button class="button"><%= link_to 'Logout', destroy_user_session_path, method: :delete %></button>
          <% else %>
          <button class="button"><%= link_to "Sign Up", new_user_registration_path %></button>
          <button class="button"><%= link_to "Sign In", new_user_session_path %></button>
        <% end %>

      </div>
    </div>

    <%= yield %>
  </body>
</html>
